
.body{
  font-family: Georgia, 'Times New Roman', Times, serif;
margin: 0;
}

.header {
z-index: 1000; /* Asegura que el menú esté por encima del contenido */ 
background: rgb(10, 53, 10);
color: white;
padding: 2rem 0;
position: fixed;
left: 0;
top: 0;
right: 0;

}
.header a {
color: white;
text-decoration: none;
}
.header-menubar {
  display: flex;
  justify-content: space-between; /* Asegura que el logo y el menú estén separados */
  align-items: center; /* Alinea verticalmente el logo y el menú */
  
}

.header-logo img {
  max-width: 100px; /* Ajusta el tamaño del logo según sea necesario */
  margin-right: 20px; /* Ajusta el espacio a la derecha del logo */
 padding: 0.5rem ;
}

.header-logo img {
 width: 50px; /* Ajusta este valor al tamaño deseado 
  height: auto; /* Esto mantiene la proporción del logo */
 
}

 .header-container {
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos en el centro */
  /*justify-content: space-between; /* Asegura que haya espacio entre el logo y el menú */
}


.header-menubar ul {
 display: block;
  justify-content: center;
  list-style: none; /* Elimina los puntos de la lista */
  padding: 0; /* Elimina el padding por defecto de la lista */
  margin: 0;
}

.header-menubar ul li {
  margin-right: 20px; /* Añade un margen a la derecha de cada elemento de la lista para separarlos */
  display: inline-block;
}

.header-menubar ul li a {
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 5px;
  }
.header-menubar ul li a:hover {
  background:#696565 ;
}


.slider-container {
  display: flex;
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  height: 100vh; /* Cambia el height para que ocupe toda la pantalla */
  overflow: hidden; /* Evita que las imágenes se desborden del contenedor */
  /*scroll-snap-type: x mandatory;
  scroll-padding: 0 50%; /* Ajustar este valor según sea necesario */
  /*-webkit-overflow-scrolling: touch;*/
  position: relative; /* Cambia la posición a relativa */

  }

  .slider-container img {
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: 100vh;
    object-fit: cover;
  }

  .slider-item {
    width: 100%; /* Asegura que las imágenes ocupen todo el ancho del contenedor */
    height: 100%; /* Ajusta la altura de las imágenes al div */
    height: 100vh;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
   }
   
   
.slider-item:first-child {
  opacity: 1; }
.main {
  padding-top: 12rem;
}

/* Estilos para el icono de menú */
.hamburger {
  display: none; /* Oculta el icono por defecto */
  cursor: pointer;
  background: none;
  border: none;
  padding: 2rem;
 }
 
 .hamburger-line {
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px auto;
 }

 .categoria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px; /* Establece un ancho máximo para el contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 20px;
  box-sizing: border-box;
}
.tarjeta {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.tarjeta img {
  width: 100%;
  max-width: 200px; /* Establece el ancho máximo de las imágenes */
  height: auto;
  border-radius: 5px;
}

.categoria img {
  width: 100%;
    max-width: 200px; /* Establece el ancho máximo de las imágenes */
    height: auto;
    border-radius: 5px;
}

h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.5em;
}

h3 {
  margin-top: 0;
  font-size: 1.2em;
}




@media only screen and (max-width:767px) {
  
  .header-menubar {
    width: 100%;
    margin: 1rem;
  }
  .header-menubar ul {
    display: none; /* Oculta el menú por defecto */
    list-style-type: none;
    padding: 0;
  }
  .header-menubar ul li {
    margin-right: 20px; /* Añade un margen a la derecha de cada elemento de la lista para separarlos */
    display: block; /* Muestra cada elemento del menú en una línea */
  }
  .hamburger {
    display: block; /* Muestra el icono de menú en pantallas pequeñas */
 }
  
  .header-menubar ul li a {
    display: block;
    padding: 0.2rem 0;
    transition: all 0.4s linear;
    border-radius: 5px;
    }
  .header-menubar ul li a:hover {
    background:#696565 ;
  }


  
  
  @media (min-width: 600px) {
    .slider-item {
       width: 50%; /* Ajusta el tamaño de las imágenes en pantallas más grandes */
    }
   }
   
   @media (min-width: 992px) {
    .slider-item {
       width: 33.33%; /* Ajusta el tamaño de las imágenes en pantallas de escritorio */
    }
   }
   

  
}

  /*footer*/
  .footer {
    background: rgb(63, 138, 63);
    padding: 4rem 1rem;
    margin-top: 6rem ;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Define dos columnas de igual tamaño */
    gap: 20px; /* Espacio entre las columnas */
   }
   .aside {
    grid-area: 1 / 1 / 2 / 2; /* Ocupa la primera fila y la primera columna */
   }
   
   .seguinos {
    grid-area: 1 / 2 / 2 / 3; /* Ocupa la primera fila y la segunda columna */
    justify-self: end; /* Alinea el contenido al final de la columna */ 
    margin-right: 20px; /* Añade un margen derecho */
  }