<!-- header.html -->
<header>
    <div class="header-container">
        <div class="customer-support">
            <i class="fa-solid fa-headset" aria-hidden="true"></i>
            <div class="support-text">
                <p class="text">Soporte al cliente</p>
                <p class="number">123-456-7890</p>
            </div>
        </div>
        <div class="logo">
            <a href="../index.html"><img src="../imagenes/logo2.jpg" alt="Logo de Pet Paradise"></a>
            <p>Pet Paradise</p>
        </div>
        <div class="shopping-cart">
            <img src="../imagenes/cart.png" alt="Icono de Carrito de compras">
        </div>
    </div>
    <nav class="navbar">
        <div class="menu-container">
            <button id="menu-toggle" class="hamburger" aria-expanded="false" aria-controls="menu-desplegado">
                <span class="hamburger-line"></span>
                <span class="hamburger-line"></span>
                <span class="hamburger-line"></span>
            </button>
            <ul id="menu-desplegado" class="menu-cerrado" aria-hidden="true">
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="../paginas/nosotros.html">Nosotros</a></li>            
                <li class="menu-item">
                    <a href="../paginas/shop.html" class="submenu-toggle">Tienda</a>
                    <ul class="submenu">
                        <li><a href="../paginas/alimentos.html">Alimentos</a></li>
                        <li><a href="../paginas/accesorios.html">Accesorios</a></li>
                        <li><a href="../paginas/ropas.html">Ropas</a></li>
                    </ul>
                </li>
                   <li><a href="../paginas/contacto.html">Contacto</a></li>
            </ul>
        </div>
        <div class="search-bar">
            <form id="search-bar">
                <input type="text" id="search-input" placeholder="Buscar...">
                <button type="submit">Buscar</button>
            </form>
        </div>
    </nav>
    </header>